.xdebug_front_end { position: absolute; top: 400px; }

body { margin: 0px; padding: 0px; position: relative; font-size: 15px; }

h1 { font-family: georgia, serif; font-size: 29px; }
h2 { font-family: georgia, serif; font-size: 21px; }
p, li { font-family: arial, "sans serif"; font-size: 13px; line-height: 20px; }

#page-header { position: absolute; top: 0px; left: 0px; width: 100%; height: 40px; }
#page-header div.frame { background: rosybrown; border-bottom: solid 2px maroon; }
#page-header h2 { font-weight: normal; color: white; margin: 0px; line-height: 38px; padding: 0px 10px; }

#page-browser { position: absolute; top: 40px; left: 0px; width: 300px; }
#page-browser div.frame {  }

#page-content { position: absolute; top: 40px; left: 300px; }
#page-footer { clear: left; }

/**
 * Les styles de texte generaux
 */
#page-content p.summary
{ margin-top: 0px; }

div.content-display h1 { font-weight: normal; }

/**
 * Les elements générique de la documentation.
 */
span.display-method { background-repeat: no-repeat; background-position: left; padding-left: 18px; line-height: 18px; }
span.display-method.method-public { background-image: url("Icon_method_public.png"); }
span.display-method.method-protected { background-image: url("Icon_method_protected.png"); }
span.display-method.method-private { background-image: url("Icon_method_private.png"); }
span.display-method.method-public-static { background-image: url("Icon_method_public_static.png"); }

span.display-class { background-repeat: no-repeat; background-position: left; padding-left: 18px; line-height: 18px; }
span.display-class.class { background-image: url("Icon_class.png"); }
span.display-class.class-abstract { background-image: url("Icon_class_abstract.png"); }
span.display-class.class-final { background-image: url("Icon_class_final.png"); }

/**
 * Le design de la partie contenu
 */
#page-content div.page-annotation { padding-left: 30px; }
#page-content div.page-annotation p { float: left; background: maroon; color: burlywood; margin: 0px; padding: 1px 3px; font-style: italic; }
#page-content div.page-annotation a { color: sandybrown; }
#page-content div.page-annotation span.display { background: inherit !important; padding-left: 0px !important; }
#page-content div.page-content { clear: left; padding: 10px 20px 40px 30px; }
#page-content div.page-content h1 span.display { background: inherit !important; padding-left: 0px !important; }
#page-content h3.list-header { margin: 10px 10px 0px 10px; font-weight: normal; }
#page-content ul.list { list-style: none; padding: 0px; margin: 0px 10px 10px 10px; }
#page-content div.content-index { background: antiquewhite; float: left; }

/**
 * Le design de la partie navigation
 */
#page-browser { background: palegoldenrod; }
#page-browser h3.list-header { margin: 10px 10px 0px 10px; font-weight: normal; padding: 3px 1px; }
#page-browser ul.list { list-style: none; padding: 0px; margin: 0px 10px 10px 10px; border-top: solid 1px tan; }
#page-browser ul.list li { padding: 1px 3px; border-bottom: solid 1px tan; background: beige; }
