.xdebug_front_end { position: absolute; top: 400px; }

body { margin: 0px; padding: 0px; /*position: relative;*/ font-size: 15px; }

h1 { font-family: georgia, serif; font-size: 29px; }
h2 { font-family: georgia, serif; font-size: 19px; }
p, li, dd, dt { font-family: arial, "sans serif"; font-size: 15px; line-height: 20px; }

#page-header { position: absolute; top: 0px; left: 0px; width: 100%; height: 40px; }

#page-browser { position: absolute; top: 40px; left: 0px; width: 300px; }
#page-browser div.frame {  }

#page-content { position: absolute; top: 40px; left: 300px; }
#page-footer { clear: left; }

div.content-display h1 { font-weight: normal; }

/**
 * Les elements générique de la documentation.
 */
span.display span.member-part { white-space: nowrap; }

span.display-method { background-repeat: no-repeat; background-position: left; padding-left: 20px; line-height: 18px; }
span.display-method.method-public { background-image: url("Icon_method_public.png"); }
span.display-method.method-protected { background-image: url("Icon_method_protected.png"); }
span.display-method.method-private { background-image: url("Icon_method_private.png"); }
span.display-method.method-public-static { background-image: url("Icon_method_public_static.png"); }
span.display-method.method-protected-static { background-image: url("Icon_method_protected_static.png"); }
span.display-method.method-private-static { background-image: url("Icon_method_private_static.png"); }
span.display-method.method-public-final { background-image: url("Icon_method_public_final.png"); }
span.display-method.method-protected-final { background-image: url("Icon_method_protected_final.png"); }
span.display-method.method-private-final { background-image: url("Icon_method_private_final.png"); }

span.display-class { background-repeat: no-repeat; background-position: left; padding-left: 20px; line-height: 18px; }
span.display-class.class { background-image: url("Icon_class.png"); }
span.display-class.class-abstract { background-image: url("Icon_class_abstract.png"); }
span.display-class.class-final { background-image: url("Icon_class_final.png"); }

span.display-member { background-repeat: no-repeat; background-position: left; padding-left: 20px; line-height: 18px; }
span.display-member.member-public { background-image: url("Icon_member_public.png"); }
span.display-member.member-protected { background-image: url("Icon_member_protected.png"); }
span.display-member.member-private { background-image: url("Icon_member_private.png"); }
span.display-member.member-public-static { background-image: url("Icon_static_member_public.png"); }
span.display-member.member-protected-static { background-image: url("Icon_static_member_protected.png"); }
span.display-member.member-private-static { background-image: url("Icon_static_member_private.png"); }

span.display-function { background: url("Icon_function.png") no-repeat left; padding-left: 20px; line-height: 18px; }

span.display-file { background: url("Icon_file.png") no-repeat left; padding-left: 20px; line-height: 18px; }

h1 span.display { background: inherit !important; padding-left: 0px !important; }

a { color: mediumblue; }

/**
 * Le design pour l'entete
 */
#page-header div.frame { background: rosybrown; border-bottom: solid 2px maroon; }
#page-header h2.logo { font-weight: normal; color: white; margin: 0px; line-height: 38px; padding: 0px 10px; }
#page-header h2.logo a { text-decoration: none; color: white; }

/**
 * sandybrown, rosybrown, burlywood, antiquewhite, palegoldenrod, tan, beige
 */

/**
 * Le design de la partie contenu
 */
#page-content div.page-annotation { padding-left: 30px; }
#page-content div.page-annotation p { font-size: 11px; line-height: 18px; float: left; background: maroon; color: burlywood; margin: 0px; padding: 1px 4px 2px 4px; font-style: italic; }
#page-content div.page-annotation a { color: burlywood; }
#page-content div.page-annotation span.display { background: inherit !important; padding-left: 0px !important; }
#page-content div.page-content { clear: left; padding: 20px 20px 30px 30px; }
#page-content div.page-content h1 span.display { background: inherit !important; padding-left: 0px !important; }
#page-content h3.list-header { margin: 10px 10px 0px 10px; font-weight: normal; }
#page-content ul.list { list-style: none; padding: 0px; margin: 0px 10px 10px 10px; }
#page-content div.content-title p { margin-bottom: 5px; }
#page-content div.content-display h1 { margin-top: 5px; margin-bottom: 30px; }
#page-content div.content-index { background: antiquewhite; float: left; }
#page-content div.content-index li { font-size: 13px; line-height: 20px; }
#page-content div.content-syntax { border-top: solid 5px sandybrown; background-color: wheat; padding: 8px 10px; margin-top: 10px; }
#page-content div.content-syntax h2 { margin-top: 0px; margin-bottom: 10px; }
#page-content div.content-syntax ul { margin-bottom: 0px; list-style: none; padding-left: 0px; margin-top: 10px; }
#page-content div.syntax-code { border: solid 1px black; background: white; padding: 8px 10px; }
#page-content div.content-params { background-color: palegoldenrod; padding: 8px 10px; margin-top: 10px; }
#page-content div.content-params h2 { margin-top: 0px; margin-bottom: 10px; }
#page-content div.content-params dl { margin-bottom: 0px; margin-top: 10px; }
#page-content dt.param-type-var { border: solid 1px black; background: white; padding: 8px 10px; }
#page-content dd.param-description p { margin: 10px; }
#page-content div.content-returns { background-color: wheat; padding: 8px 10px; margin-top: 10px; }
#page-content div.content-returns h2 { margin-top: 0px; margin-bottom: 10px; }
#page-content div.content-returns dl { margin-bottom: 0px; margin-top: 10px; }
#page-content div.content-todos { clear: left; }
#page-content div.content-todos h2 { margin-bottom: 10px; }
#page-content div.content-todos ul { margin-top: 0px; }

/**
 * Le design de la partie navigation
 */
#page-browser { background: palegoldenrod; }
#page-browser h3.list-header { margin: 10px 10px 0px 10px; font-weight: normal; padding: 3px 1px; }
#page-browser ul.list { list-style: none; padding: 0px; margin: 0px 10px 10px 10px; border-top: solid 1px tan; }
#page-browser ul.list li { font-size: 13px; padding: 2px 3px 1px 3px; border-bottom: solid 1px tan; background: beige; }
#page-browser ul.list li a:visited { text-decoration: none; }
#page-browser ul.ascent { list-style: none; padding: 0px; margin: 0px; }
#page-browser ul.ascent li { font-size: 13px; border-bottom: solid 3px white; padding: 5px 13px 2px 13px; }
#page-browser ul.ascent li a:visited { text-decoration: none; }
#page-browser ul li.displayed { background: gold; }
#page-browser ul.list span.display-method span.class-part { display: none; }

